@import url('https://fonts.googleapis.com/css?family=Average|Crimson+Text|\
            Quattrocento|Suravaram|Taviraj|Yrsa:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

/*
общий бэкграунд - f8eedf (светло-бежевый) - opacity 100
header-нижний слой - 000000 (черный) - opacity 100
header-шум - разноцветный шум (noise.jpg) - opacity 5
deccaa - бежевый
40312a - коричневый
febf5d - оранжевый

125*95 - размер миниатюр Our Recent Projects
Welcome to our site - под картинками есть тени
*/

* {
	box-sizing: border-box;
}

body {
	background: #ffffff;
	width: 1080px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 1080px;
}

#header-block1 {
  position: relative;
  height: 100px;
  background-color: orange;
  #margin-top: -19px;
}

#header-block1 h1 {
  position: relative;
  display: inline-block;
  #padding: 0 0 0 37px;
  top: -8px;
  left: 37px;
  #margin: 0 auto;
  font: 25pt "Yrsa", serif;
  font-weight: 500;
  letter-spacing: 4.4px;
  color: white;
}

#header-block1 article {
  display: inline-block;
  position: relative;
  #border: 1px solid red;
  margin: 33px 0 0 656px;
  overflow: auto;
}

#header-block1 div {
  #position: relative;
  display: inline-block;
  #border: 1px solid blue;
  margin-right: 20.5px;
}

.icon {
  #display: inline-block;
  background-size: cover;
  width: 32px;
  height: 32px;
}

#header-block1-digg {
  background-image: url("pics/digg.png");
}
#header-block1-mail {
  background-image: url("pics/mail.png");
}
#header-block1-flickr {
  background-image: url("pics/flickr.png");
}
#header-block1-call {
  background-image: url("pics/call.png");
}

#header-block2 {
  position: relative;
  height: 59px;
  background-color: green;
  padding-top: 3px;
}

#menu {
  #position: relative;
  display: inline-block;
  #border: 1px solid red;
  margin-left: 35px;
  height: 100%;
  #padding: auto auto;
  #right: 0px;
}

#search {
  display: inline-block;
  position: relative;
  #border: 1px solid red;
  margin: 0 0 0 270px;
}

#header-block2 div p {
  #position: relative;
  display: inline-block;
  #border: 1px solid blue;
  margin-right: 16.1px;
  margin-top: 18px;
  font: 11.8pt "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.79px;
  color: white;
  #border: 1px solid red;
}

#header-block2 div#search p {
  margin-right: 7px;
  margin-left: 0px;
}

.form {
  position: relative;
  display: inline-block;
}
.form-field {
  display: inline-block;
}
.form-field span {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.form-field input {
	border: 0;
	#background: 0;
  background-color: blue;
	height: 26px;
	width: 203px;
	#display: block;
	padding-right: 30px;
  padding-left: 25px;
  padding-top: 5px;
	#border: 1px solid #333;
	#box-sizing: border-box;
	text-indent: 10px;
	position: relative;
	z-index: 5;
}
.form-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
	z-index: 10;
}
.form-button button {
	border: 0;
	#background: red;
	#display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	#color: white;
  margin: auto;
  background-color: blue;
}
.form-button button:hover {
	background: green;
}
.form-button button:hover:active,  .form-button button:active {
	background: green;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, .2);
}

#loupe {
  background-image: url("pics/mg_glass.png");
  background-size: cover;
  width: 24px;
  height: 20px;
}

di#v#pix {
	background-image: url(maket/06-psd.jpg);
	background-size: 100% 100%;
	position: absolute;
	width: 1080px;
	height: 1820px;
	opacity: 0.4;
	top: 0px;
	#left: 0px;
	#bottom: 0px;
  #margin: 0 auto;
	z-index: 999;
}
